@charset "UTF-8";
/*画面上部のタイトル画像のサイズ調整*/
img.headerimg {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*画面下部の背景の設定*/
#footer {
    background-image: url('Images/Footer_Background.png');
    background-size: cover;
}
/*HOMEのボタンのサイズ・配置調整*/
img.homebuttons {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*各画面のタイトル画像のサイズ・配置調整*/
img.topicons {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*各ページの見出し(h1)の色・サイズ・配置調整*/
h1 {
    font-size: 150%;
    color: white;
    background-color: rgb(255, 136, 0);
    font-weight: 900;
}
/*各ページの地の文(h2)の色・サイズ・配置調整*/
h2 {
    font-size: 100%;
    font-weight: 100;
    margin-left: 5%;
    margin-right: 5%;
}
/*各ページのTableの色・サイズ・配置調整*/
table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
    word-break: break-all;
    word-wrap: break-word;
}
th {
    border: solid;
    padding: 1%;
    border-color: white;
    color: white;
    background-color: rgb(255, 136, 0);
}
td {
    border: solid;
    padding: 1%;
    border-color: rgb(255, 136, 0);
}
/*スケジュール画像のサイズ・配置調整*/
img.img_schedule {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*各ページのTabの色・サイズ・配置調整*/
/*Tab切替全体のスタイル*/
.tabs {
    background-color: white;
    width: 95%;
    margin-left: 2%;
}
/*Tabのスタイル*/
.tab_item {
    border: solid rgb(255, 136, 0);
    background-color: white;
    text-align: center;
    font-weight: 700;
    padding: 2%;
    display: block;
    float: left;
}
/*radioボタンの非表示*/
input[name="tab_item"] {
    display: none;
}
/*Tab切替のContentのスタイル*/
.tab_content {
    display: none;
    padding-top: 10%;
}
/*選択中のTabのContentのみ表示*/
#day1:checked ~ #day1_content,
#day2:checked ~ #day2_content,
#day3:checked ~ #day3_content {
    display: block;
}
/*選択中のTabのスタイルを変更*/
.tabs input:checked + .tab_item {
    background-color: rgb(255, 136, 0) ;
    color: white;
}



/*■共通パーツ*/
/*Linkの下線を消す*/
a {
    text-decoration: none;
}
/*マイナス値を赤字にする*/
.minus_value {
    color: red;
}
/*特定のClassの文字を太くする*/
.font_thicker {
    font-weight: 800;
}
/*特定のClassの文字を中央寄せする*/
.align_center {
    text-align: center;
}
